.otp {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    align-items: center;
}
.verifyDiv {
    padding: 18px;
}

.inputStyle {
    width: 20% !important;
    height: 30px;
    border-radius: 7px;
    border: 2px;
    margin-left: 8px;
    margin-right: 8px;
    background: #dddddd;
    font-size: 16px;
    color: black;
}

.p3 {
    font-size: 14px;
}
.resend {
    text-decoration: underline;
    font-size: 14px;
}
.otpElements {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-left: 18px;
    justify-content: center;
}

.p1 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    margin-top: 25px;
    font-size: 27px;
}

.p2 {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
}

/* Style for the form group */
.form-group {
    margin-bottom: 15px;
}

/* Style for the authenticator code input */
.inputStyle {
    /* Your custom styles for the input */
}
h2 {
    text-align: center;
    margin-bottom: 10px;
}
.modal-content {
    margin: 5% auto;
    max-width: 600px;
    font-size: 16px;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.2);
}

.info-text {
    padding: 0 20px; /* Adjust the padding as needed */
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Add spacing between image and other content */
}

/* Style for the modal button row */
.modal-button-row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}


