.otp {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    align-items: center;
}
.verifyDiv {
    padding: 18px;
}
p {
    color: white;
    margin-bottom: 0px;
}
.inputStyle {
    width: 50% !important;
    height: 40px;
    border-radius: 7px;
    border: 5px;
    margin-left: 8px;
    margin-right: 8px;
    background: #dddddd;
    font-size: 20px;
    color: black;
}

.p3 {
    font-size: 14px;
}
.resend {
    text-decoration: underline;
    font-size: 14px;
}
.otpElements {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-left: 18px;
    justify-content: center;
}

.p1 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    margin-top: 25px;
    font-size: 27px;
}

.p2 {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
}

/* TwoFactorModalCustomStyles.css */

/* Style for the main modal content container */
/*.modal-content {*/
/*    background-color: white;*/
/*    border-radius: 8px;*/
/*    padding: 20px;*/
/*}*/

/* Style for the QR Code image */
.modal-content img {
    max-width: 100%;
}

/* Style for the form group */
.form-group {
    margin-bottom: 15px;
}

/* Style for the authenticator code input */
.inputStyle {
    /* Your custom styles for the input */
}

/* Style for the modal button row */
.modal-button-row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}


