{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "babelOptions": {
      "presets": ["@babel/preset-env", "@babel/preset-react"]
    }
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:jsx-a11y/recommended"],
  "plugins": ["react", "jsx-a11y"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "complexity": "off",
    "no-nested-ternary": "warn",
    "no-unused-expressions": "off",
    "jsx-a11y/label-has-for": "warn",
    "react/no-danger": "off",
    "@typescript-eslint/no-shadow": "off",
    "@typescript-eslint/no-namespace": "off"
  }
}
