<!doctype html>
<html lang="en">
<head>
    <title>OAuth2 Account info</title>
    <style>
        body {
            margin: 50px 50px;
        }

        a {
            display: block;
            line-height: 40px;
        }
    </style>
</head>
<body>
<h1>Github OAuth2 user info</h1>
<a th:href="@{/logout}" class="btn btn-primary btn-sm mb-3">Log Out</a>
<h4>Welcome to GitHub OAuth2</h4>
<p th:text="'Your name:' + ${info.name}"></p>
<p th:text="'Your login:' + ${info.login}"></p>
<p th:text="'Your scopes:' + ${info.scopes}"></p>
</body>
</html>