/* Initially hide all payment method divs */
.payment-method.closed {
    display: none;
}

.closed {
    display: none;
}

.payment-methods {
    flex: 1;
    margin-bottom: 0;
    max-width: 48%;
    text-align: left;
    display: block;
}

.container {
    box-sizing: border-box;
    flex: 1 1;
    margin-bottom: 0;
    max-width: 50%;
    text-align: left;
}

.payment-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 0;
    max-width: 48%;
    text-align: left;
    display: block;
}

.payment-method-header {
    display: flex;
    align-items: center;
    text-align: center;
}

.payment-method {
    color: #00112c;
    font-size: 1em;
    font-weight: 400;
    padding: 12px 16px 12px 44px;
    position: relative;
    transition: background .2s ease-in-out;
    width: 100%;
    cursor: pointer;
    border: 1px solid #999;
    border-radius: 10px;
    padding: 12px 16px;
    margin: 8px 0;
    /*display: flex;*/
    vertical-align: middle;
}

.selected {
    background-color: #f7f8f9;
}

.unselected {
}

h3 {
    color: #667680;
    font-size: .75em;
    letter-spacing: 1.2px;
    margin: 0 0 16px;
    text-transform: uppercase;
}

.opened {
    display: block;
    background-color: #f7f8f9;
    margin-top: 10px;
}
/* Show the open payment method div */
.payment-method.opened {
    display: block;
    background-color: #f7f8f9;
}

.payment-method-icon {
    width:  40px;
    height: 26px;
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

.payment-method-icon img {
    width: 40px;
    height: 26px;
}
