.otp {
    width: 20% !important;
    height: 30px;
    border-radius: 7px;
    border: 2px;
    margin-left: 8px;
    margin-right: 8px;
    background: #dddddd;
    font-size: 16px;
    color: black;
}

.modal-content {
    margin: 5% auto;
    max-width: 600px;
    font-size: 16px;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.2);
}

.info-text {
    padding: 0 20px;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.modal-button-row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 20px;
}

.btn--verify,
.btn--cancel {
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid black !important;
}

.btn--verify {
    background-color: #007bff;
    color: #fff;
}

.btn--cancel {
    background-color: #dc3545;
    color: #fff;
}

.btn--verify:hover {
    background-color: #0056b3;
}

.btn--cancel:hover {
    background-color: #c82333;
}

.two-factor-page h3 {
    color: #667680;
    text-align: center;
    font-size: 1.4em;
    letter-spacing: 1px;
    margin: 10px 0 16px;
    text-transform: uppercase;
}

h4 {
    color: #667680;
    font-size: 1.2em;
    letter-spacing: 1px;
    margin: 8px 0 12px;
    text-transform: uppercase;
}

p {
    font-size: 1.2em;
}

.two-factor-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    padding: 10px;
    margin: 100px auto 0;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.2);
}
